*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-color: #FF5399;
 }
 h1 {
     color: #FF0000;
     font-family: Impact;
     font-size: 500%;
     text-align: center;
 }
 img {
    margin-left:auto;  
    margin-right:auto;  
    display:block;  
    border-radius: 10px;
 }
 h4 {
    color: #FF0000;
    font-family: Impact;
    font-size: 200%;
    text-align: center;
 }
 p {
    color: white;
    font-family: Arial;
    font-size: 100%;
    text-align: center;
 }
 
li {
    color: white;
    font-family: Arial;
    font-size: 100%;
}
div {
    background-color: #FF0000;
    padding: 3em;
    width: 500px;
    margin-left: 450px;
}